.grid__string{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.grid__letter{
    height: 64px;
    text-align: center;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 3.4rem;
    color: white;
    box-sizing: border-box;
    border: 3px solid #787c7e;
    text-transform: uppercase;
}
.missed {
    background-color: #787c7e;
}
.yellow {
    background-color: #c9b458;
}
.green{
    background-color: #6aaa64;
}
.active{
    border: 3px solid black;
    color: black;
    background-color: white;
}
.future{
    border: 3px solid #787c7e;
}