.string{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.string div{
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    display: inline-block;
    border: none;
    width: 62px;
    height: 62px;
    font-size: 2rem;
    line-height: 62px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: gray;
}
.string__letterYellow{
    background-color: yellow;
}
.string__letterGreen{
    background-color: green;
}