.string{
    display: flex;
    flex-direction: row;
}
.string div{
    display: inline-block;
    border: none;
    width: 70px;
    height: 70px;
    margin: 3px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid white;
}
.string__letterGreen{
    background-color: green;
}
.string__letterYellow{
    background-color: yellow;
}